<nav>
  <ul>
    {% for menu_link in menu_links %}
      <li>
        <a href="{{ menu_link.url }}">{{ menu_link.title }}</a>
        {% if menu_link.has_children %}
          <ul>
            {% for child in menu_link.children %}
              <li>
                <a href="{{ child.url }}">{{ child.title }}</a>
                {% if child.has_children %}
                  <ul>
                    {% for grandchild in child.children %}
                      <li>
                        <a href="{{ grandchild.url }}">{{ grandchild.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
